@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 100;
}

html {
    scroll-behavior: smooth;
}

* > h2 {
    font-size: 40px;
    font-weight: 500;
}

* > h3 {
    font-size: 25px;
    font-weight: 300;
}

/* Стили заголовка */
.header {
    position: relative;
    height: 100vh;
}

.header * {
    font-family: "Montserrat", sans-serif;
}

.header__logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 10;
    height: 50px;
    width: auto;
}

.header__shopping-сart {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    height: 30px;
    width: auto;
}

.header__banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    overflow: hidden;
}

/* Главный заголовок */
.header__title {
    position: absolute;
    top: 60%;
    right: 50%;
    z-index: 5;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 10px;
}

.header__title-vertical {
    font-size: 54px;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #335b66;
    padding-right: 15px;
}

.header__title-main {
    font-size: 54px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px 20px 5px;
    background-color: rgb(247, 186, 111);
    color: #fff;
    letter-spacing: 0px;
}

.header__aside {
    position: relative;
    top: 10vh;
}

.aside__shopping-cart {
    position: absolute;
    top: 10px;
    right: 10px;
    border-color: black;
    height: 20px;
    width: auto;
    
}

.aside__list {
    list-style-type: none;
    position: absolute;
    font-size: 20px;
    left: 25px;
    top: 20px;
    padding: 10px 15px 10px;
    background-color: #335b66;
    border-color: burlywood;
    border-radius: 10px;
}

.aside__list > li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.aside__list > li > a {
    color: #ffffff; 
    font-weight: 300;
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.aside__list > li > a:hover {
    color: rgb(247, 186, 111); 
}

.aside__list > li > a:active {
    color: rgb(247, 111, 111); 
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.6rem 1.5rem;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color:rgb(247, 186, 111);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}

.main > * {
    min-height: 100vh;
}

.footer {
    margin-top: 15px;
    padding: 30px 10px 30px;
    background-color: #ccc;
}