@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Базовые стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 100;
}

.text {
    color: darkslategrey;
    font-size: 18px;
}

@media (max-width: 1199px) {
    .text {
        color: darkblue;
    }
}
/* Планшеты (меньше 992px) */
@media (max-width: 991px) {
    .text {
        color: blue;
    }
}
/* Мобильные в альбомной ориентации (меньше 768px) */
@media (max-width: 767px) {
    .text {
        color: royalblue;
    }
}
/* Мобильные (меньше 576px) */
@media (max-width: 575px) {
    .text {
        color: dodgerblue;
        font-size: 16px;
    }
}
/* Очень маленькие экраны (меньше 400px) */
@media (max-width: 399px) {
    .text {
        color: lightblue;
        font-size: 14px;
    }
}


html {
    scroll-behavior: smooth;
}

* > h2 {
    font-size: 40px;
    font-weight: 900;
}

.section__header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

* > h3 {
    font-size: 25px;
    font-weight: 300;
}

/* Стили заголовка */
.header {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.header * {
    font-family: "Montserrat", sans-serif;
}

.header__logo {
    grid-column: span 2;
    grid-row: 1;
    position: relative;
    z-index: 10;
}

.header__logo-image {
    position: absolute;

    top: 30px;
    left: 40%;
    height: 40px;
    width: auto;
}

.header__banner {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: span 5;
    overflow: hidden;
    position: relative;
}

.header__banner-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
}

/* Главный заголовок */
.header__title {
    position: absolute;
    left: 20%;
    grid-row: 3;
    grid-column: span 2;
    z-index: 5;
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    font-size: 54px;
}

.header__title-vertical {
    
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #335b66;
    padding-right: 15px;
}

.header__title-main {
    font-weight: 900;
    text-transform: uppercase;
    padding: 5px 20px 5px;
    background-color: rgb(247, 186, 111);
    color: #fff;
    letter-spacing: 0px;
}

.header__aside {
    /* position: relative;
    top: 10vh; */
    grid-column: 6;
    grid-row: span 5;
    background-color: #335b66;
    position: relative;
}

.aside__shopping-cart-icon {
    position: absolute;
    grid-column-start: 5;
    border-color: black;
    top: 15px;
    right: 15px;
    height: 20px;
    width: auto;
    z-index: 15;
}

.aside__list {
    list-style-type: none;
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 30%; 
    padding: 10px 15px 10px;
    background-color: #294a53;
    border-color: burlywood;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.aside__list > li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.aside__list > li > a {
    color: #ffffff; 
    font-weight: 300;
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.aside__list > li > a:hover {
    color: rgb(247, 186, 111); 
}

.aside__list > li > a:active {
    color: rgb(247, 111, 111); 
}

button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 0.6rem 1.5rem;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color:rgb(247, 186, 111);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    transform: none;
}

.main > * {
    min-height: 100vh;
}

.main__section-1 {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

.section__title {
    top: 30px;
    font-family: "Montserrat", sans-serif !important;
    color: #335b66;
}

.main__section-3 {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

.section__article-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section__article-list > article {
    width: auto;
}

.section__without-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.section__image {
    grid-column: 1;
    grid-row: span 2;
}

.section__content {
    grid-column-start: 2;
    grid-column: span 2;
}



.footer {
    margin-top: 15px;
    padding: 30px 10px 30px;
    background-color: #ccc;
}